
#window {
    background-color: rgba(40, 44, 52, 0.9);
    border: 1px solid rgba(80, 83, 107, 0.5);
    margin-right: 200px;
    font-family: JetBrainsMono;
}

/*
#outer-box {
    background-color: rgba(20, 20,20, 0.7);
    border: 1px solid rgba(255, 0, 0, 0.5);
}*/

#input {
    color: #dfdfdf;
    border: 1px solid rgba(80, 83, 107, 0.5);
    border-radius: 20px;

    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    margin-bottom: 20px;

    box-shadow: none;
    background-color: rgba(20, 24, 32, 0.9);
}

#input:focus {
    color: #b2b2b2;
    border: 1px solid rgba(235, 110, 103, 1);

    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 20px;

    box-shadow: none;
    background-color: rgba(0.5, 0.5, 0.5, 0.9);
}

#entry {
    font-family: JetBrainsMono;
    border-radius: 20px;
    margin: 5px;
    margin-right: 20px;
    margin-left: 20px;
    padding-left: 10px;
}

#entry:focus {
    background-color: rgba(40, 44, 52, 0.7);
    border: 1px solid rgba(80, 83, 107, 0.5);
}

#text {
    font-family: JetBrainsMono;
}

/**/
/*#inner-box {*/
/*    background-color: #50536b;*/
/*    border-radius: 10px;*/
/*}*/
/**/
/**/
/*#scroll {*/
/*    margin: 5px;*/
/*    border-radius: 10px;*/
/*}*/
/**/
/**/
/**/
/*#text:selected {*/
/*    background-color: #50536b;*/
/*    border-radius: 10px;*/
/*}*/
/**/
